<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<div th:replace="/fragments/meta.html :: fragment-meta"></div>
</head>

<body>
<script type="text/javascript">
	/*<![CDATA[*/
		function openToggle() {
			const mo_header = document.getElementById("mo_h");
			mo_header.style.display = mo_header.style.display === "block" ? "none"
					: "block"
		}
	/*]]>*/
</script>
	<section id="wrap">
		<div th:replace="/fragments/header.html :: fragment-header"></div>
		<section id="content_wrap">
			<div th:replace="/fragments/side.html :: fragment-side"></div>
			<div class="content">
				<div class="my_menu">
					<div class="my_code">
						<h2>내 최근 게시물</h2>
						<table>
							<thead>
								<tr>
									<th>이름</th>
									<th>제목</th>
									<th>댓글수</th>
									<th>등록일</th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<td>킴덕배</td>
									<td>이 코드 맞나요?</td>
									<td>3개</td>
									<td>2021-02-22</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="monthly_king">
						<div class="monthly_code">
							<h2>이 달의 코드리뷰</h2>
							<table>
								<thead>
									<tr>
										<th>순위</th>
										<th>닉네임</th>
										<th>추천수</th>
										<th>리뷰수</th>
									<tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>킴덕배</td>
										<td>30</td>
										<td>5개</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="monthly_tips">
							<h2>이 달의 코드 팁스</h2>
							<table>
								<thead>
									<tr>
										<th>순위</th>
										<th>닉네임</th>
										<th>추천수</th>
										<th>리뷰수</th>
									<tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>킴덕배</td>
										<td>30</td>
										<td>5개</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>

</html>