<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>EndersOverFlow</title>
</head>

<body>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function openToggle() {
			const mo_header = document.getElementById("mo_h");
			mo_header.style.display = mo_header.style.display === "block" ? "none"
					: "block"
		}
		/*]]>*/
	</script>
	<section id="wrap">
		<header id="header_wrap">
			<div class="header_box">
				<div class="logo_box">
					<img th:src="@{/img/logo.PNG}" alt=""> <a href="/"><h1>EndersOverFlow</h1></a>
				</div>
				<div class="login_box">
					<a href="/member/login">로그인</a>
				</div>
				<div class="list_btn">
					<img th:src="@{/img/list_btn.PNG}" alt=""
						th:onclick="javascript:openToggle()">
				</div>
				<div class="mobile_header" id="mo_h">
					<ul>
						<li><a href="#">ㅎㅇ</a></li>
						<li><a href="#">ㅎㅇ</a></li>
						<li><a href="#">ㅎㅇ</a></li>
					</ul>
				</div>
			</div>
		</header>
		<section id="content_wrap">
			<nav class="side_bar">
				<div class="profile_box">
					<div class="profile_img">
						<img th:src="@{/img/IU.PNG}" alt="">
					</div>
					<div class="profile_content">
						<table>
							<tr>
								<th>이　름</th>
								<td>이지은</td>
							</tr>
							<tr>
								<th>닉네임</th>
								<td>IU</td>
							</tr>
							<tr>
								<th>추천수</th>
								<td>20000개</td>
							</tr>
						</table>
					</div>
				</div>
				<hr>
				<ul>
					<a href="codeReview/list"><li>코드 리뷰</li></a>
					<a href="#"><li>리뷰 순위</li></a>
					<a href="#"><li>코드 팁스</li></a>
					<a href="#"><li>코드 리뷰</li></a>
				</ul>
			</nav>
			<div class="content">
				<div class="my_menu">
					<div class="my_code">
						<h2>내 최근 게시물</h2>
						<table>
							<thead>
								<tr>
									<th>이름</th>
									<th>제목</th>
									<th>댓글수</th>
									<th>등록일</th>
								<tr>
							</thead>
							<tbody>
								<tr>
									<td>킴덕배</td>
									<td>이 코드 맞나요?</td>
									<td>3개</td>
									<td>2021-02-22</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="monthly_king">
						<div class="monthly_code">
							<h2>이 달의 코드리뷰</h2>
							<table>
								<thead>
									<tr>
										<th>순위</th>
										<th>닉네임</th>
										<th>추천수</th>
										<th>리뷰수</th>
									<tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>킴덕배</td>
										<td>30</td>
										<td>5개</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="monthly_tips">
							<h2>이 달의 코드 팁스</h2>
							<table>
								<thead>
									<tr>
										<th>순위</th>
										<th>닉네임</th>
										<th>추천수</th>
										<th>리뷰수</th>
									<tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>킴덕배</td>
										<td>30</td>
										<td>5개</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>

</html>