<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<div th:replace="/fragments/meta.html :: fragment-meta"></div>
</head>

<body>
	<section id="wrap">
		<div th:replace="/fragments/header.html :: fragment-header"></div>
		<section id="content_wrap">
			<div th:replace="/fragments/side.html :: fragment-side"></div>
			<div class="content">
				<!-- TODO 값을 전달 받으면 아래 div는 삭제하고 주석 해제 -->
				<div class="codeReviewDetailArea">
					<header class="detail_context">
						<span th:text="${codeReviewDetail.CR_TITLE}" style="margin: auto 0px;"></span> 
						<!-- 
						TODO 
						CR_TYPE을 확인해 이 글이 정보제공성 글일 경우에만 노출
						<img alt="스타" th:src="@{/img/빈별.png}" th:if="${codeReviewDetail.CR_TYPE} == 'info'" th:onclick="starChange([[${codeReviewDetail.CR_NO}]])" style="width: 20px;"> 
						<img alt="스타" th:src="@{/img/꽉찬별.png}" th:if="${codeReviewDetail.CR_TYPE} == 'info'" th:onclick="starChange([[${codeReviewDetail.CR_NO}]])" style="width: 20px;"> 
						-->
					</header>
					<header class="detail_context" style="margin-top: 20px">
						<span th:text="Row_숫자"></span> <span th:text="${codeTextListLength}"></span><span th:text="Lines"></span>
						<img th:if="${codeReviewDetail.CR_QUE_COMMENTYN} == 'N'" alt="edit" th:src="@{/img/edit.png}" th:onclick="textEdit([[${codeReviewDetail.CR_NO}]])" style="width: 20px; float: right;">
					</header>
					<div class="textAreaEdit">
						<article class="textLines" th:each="item, indexVal : ${codeTextList}">
							<!-- 
							TODO
							댓글생성 및 작업이 완료되면 여기 수정해주기
							<p class="commentYN commentY" th:if="${item.COMMENTYN} == 'Y'" th:text="${item}" th:onclick="commentView(event, ${indexVal.index})"></p>
							<p class="commentYN commentN" th:if="${item.COMMENTYN} == 'N'" th:text="${item}"></p> -->
							<p class="commentYN commentN" th:text="${item}"  th:onclick="commentView(event, [[${indexVal.index}]])"></p>
							<div class="commentManage" th:id="${indexVal.index}" style="display: none; padding-left: 15px;">
								<!-- 
								TODO
								해당 textLine에 해당하는 Comment가 있다면 붙여주기 
								지금은 임시 샘플 넣어둔 것임-->
								<div class="codeReviewTextLineComments">
									<div class="codeReviewTextLineComments commentArea">
										<span class="codeReviewTextLineComments span" th:text="댓글_작성자_여기에_입력"></span>
											<!-- 
											TODO
											CR_TYPE을 확인해 코드리뷰 요청 글일 때만 나타나야함
											Star관리할 때 각 댓글들에 별 줄수 있게 만들기(index에 줘야합니당~ 저장할때도 해당 글의 몇번째 인덱스의 뭐)
											<img alt="스타" th:if="${codeReviewDetail.CR_TYPE} == 'review'" th:src="@{/img/빈별.png}" th:onclick="starChange([[${indexVal.index}]])" style="width: 20px;"> 
											<img alt="스타" th:if="${codeReviewDetail.CR_TYPE} == 'review'" th:src="@{/img/꽉찬별.png}" th:onclick="starChange([[${indexVal.index}]])" style="width: 20px;"> -->
										<div>
											<p th:text="댓글_내용_여기에_입력"></p>
										</div>
									</div>
								</div>
								<!-- 
								TODO
								commentN이었던 class에 댓글이 달리면 자동으로 값이 N에서 Y로 바뀌게 해야함 -->
								<div class="commentManageFixedAe">
									<p class="codeReviewTextLinePTag">Comments</p>
									<div class="codeReviewTextLine" style="margin-top: 10px">
										<textarea class="codeReviewTextLine textareaTag" rows="" cols=""></textarea>
										<button class="codeReviewTextLine buttonTag" style="width: 9%; height: 30px">등록</button>
									</div>
								</div>
							</div>
						</article> 
					</div>
					<!-- 
					TODO
					댓글 작성기능이 만들어지면 아래 작업 -->
					<footer class="reviewDetailFooter" style="margin-top: 20px">
						<div class="codeReviewComments">
							<!-- 댓글이 여러개면 commentArea를 th:each로 돌려주기 -->
							<div class="commentArea">
								<span th:text="댓글_작성자_여기에_입력"></span>
									<!-- 
									TODO
									CR_TYPE을 확인해 코드리뷰 요청 글일 때만 나타나야함
									Star관리할 때 각 댓글들에 별 줄수 있게 만들기(index에 줘야합니당~ 저장할때도 해당 글의 몇번째 인덱스의 뭐)
									<img alt="스타" th:if="${codeReviewDetail.CR_TYPE} == 'review'" th:src="@{/img/빈별.png}" th:onclick="starChange()" style="width: 20px;"> 
									<img alt="스타" th:if="${codeReviewDetail.CR_TYPE} == 'review'" th:src="@{/img/꽉찬별.png}" th:onclick="starChange()" style="width: 20px;"> -->
								<div>
									<p th:text="댓글_내용_여기에_입력"></p>
								</div>
							</div>
						</div>
						<div class="commentMainManage">
							<p class="codeReviewTextLinePTag">Comments</p>
							<div style="margin-top: 10px">
								<textarea class="textareaTag" rows="" cols=""
									style="width: 90%;"
									placeholder="Add an optional extended description…"></textarea>
								<!-- TODO
								button누르면 댓글이 저장되는 메서드 만들고 연동하기 -->
								<button style="width: 9%; height: 30px">등록</button>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</section>
	</section>
</body>
<script type="text/javascript">
	function starChange(isStar) {
		if (isStar == 'Y') {
			// TODO
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 N으로 바꾸고
			// star 글 목록에서 해당 글의 star수를 -1 시키기 
		} else {
			// TODO
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 Y로 바꾸고
			// star 글 목록에서 해당 글의 star수를 +1 시키기 
		}
	}
	
	function commentView(event, id) {
		console.log(id);
		if (document.getElementById(id).style.display == "none") {
			for ( var i in document.getElementsByClassName("commentManage")) {
				if (i == "length") {
					break;
				}
				document.getElementsByClassName("commentManage")[i].style['display'] = "none"
			}
			document.getElementById(id).style.display = "block";
		} else if (document.getElementById(id).style.display == "block") {
			document.getElementById(id).style.display = "none";
		}
	}
	
	function textEdit(CR_NO){
		location.href = "/codeReview/write?CR_NO=" + CR_NO;
	}
	
	document.getElementsByTagName('body')[0].addEventListener(
		'click',
		function(event) {
			if (event.target.className.indexOf('commentManage')
					|| event.target.className
							.indexOf("codeReviewTextLineComments") != -1
					|| event.target.className
							.indexOf("codeReviewTextLine") != -1) {
				return

			} else if (event.target.className == 'commentYN') {
				return

			} else {
				for ( var i in document
						.getElementsByClassName("commentManage")) {
					if (i == "length") {
						break;
					}
					document
							.getElementsByClassName("commentManage")[i].style['display'] = "none"
				}
			}

		});
</script>
</html>