<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<div th:replace="/fragments/meta.html :: fragment-meta"></div>
</head>

<body>
	<section id="wrap">
		<div th:replace="/fragments/header.html :: fragment-header"></div>
		<section id="content_wrap">
			<div th:replace="/fragments/side.html :: fragment-side"></div>
			<div class="content">
				<!-- TODO 값을 전달 받으면 아래 div는 삭제하고 주석 해제 -->
				<div class="codeReviewDetailArea">
					<header class="detail_context">
						<span th:text="${codeReviewDetail.CR_TITLE}" style="margin: auto 0px;"></span> 
						<!-- 
						TODO Star관련해서 이 글이 정보제공성 글일 경우에만 노출
						<img alt="스타" th:src="@{/img/빈별.png}" th:onclick="starChange(${item.isStar})" style="width: 20px;"> -->
					</header>
					<header class="detail_context" style="margin-top: 20px">
						<span th:text="Row_숫자"></span> <span th:text=" lines "></span>
						<img alt="edit" th:src="@{/img/edit.png}" th:onclick="textEdit()" style="width: 20px; float: right;">
					</header>
					<div class="textAreaEdit" >
						<article class="textLines" th:each="item, indexVal : ${codeTextList}">
							<!-- 
							TODO
							댓글생성 및 작업이 완료되면 여기 수정해주기
							<p class="commentYN commentY" th:if="${item.COMMENTYN} == 'Y'" th:text="${item}" th:onclick="commentView(event, ${indexVal.index})"></p>
							<p class="commentYN commentN" th:if="${item.COMMENTYN} == 'N'" th:text="${item}"></p> -->
							<p class="commentYN commentN" th:text="${item}"  th:onclick="commentView(event, [[${indexVal.index}]])"></p>
							<div class="commentManage" th:id="${indexVal.index}" style="display: none; padding-left: 15px;">
								<!-- 
								TODO
								해당 textLine에 해당하는 Comment가 있다면 붙여주기 
								지금은 임시 샘플 넣어둔 것임-->
								<div class="codeReviewTextLineComments">
									<div class="codeReviewTextLineComments commentArea">
										<span class="codeReviewTextLineComments span" th:text="정동욱"></span>
										<img class="codeReviewTextLineComments img" alt="스타"
											th:src="@{/img/빈별.png}" style="width: 20px;">
										<div>
											<p th:text="댓글댓글"></p>
										</div>
									</div>
									<!-- 
									TODO
									이 위치에 div태그가 들어올 예정(댓글) -->
								</div>
								<!-- 
								TODO
								commentN이었던 class에 댓글이 달리면 자동으로 값이 N에서 Y로 바뀌게 해야함 -->
								<div class="commentManageFixedAe">
									<p class="codeReviewTextLinePTag">Comments</p>
									<div class="codeReviewTextLine" style="margin-top: 10px">
										<textarea class="codeReviewTextLine textareaTag" rows="" cols=""></textarea>
										<button class="codeReviewTextLine buttonTag" style="width: 9%; height: 30px">등록</button>
									</div>
								</div>
							</div>
						</article> 
					</div>
					<!-- 
					TODO
					댓글 작성기능이 만들어지면 아래와 치환하기 -->
					<footer class="reviewDetailFooter" style="margin-top: 20px">
						<div class="codeReviewComments">
							<div class="commentArea">
								<span th:text="정동욱"></span> <img alt="스타"
									th:src="@{/img/빈별.png}" style="width: 20px;">
								<div>
									<p th:text="댓글댓글"></p>
								</div>
							</div>
							<div class="commentArea">
								<span th:text="이재민"></span> <img alt="스타"
									th:src="@{/img/빈별.png}" style="width: 20px;">
								<div>
									<p th:text="글댓글댓"></p>
								</div>
							</div>
						</div>
						<div class="commentMainManage">
							<p class="codeReviewTextLinePTag">Comments</p>
							<div style="margin-top: 10px">
								<textarea class="textareaTag" rows="" cols=""
									style="width: 90%;"
									placeholder="Add an optional extended description…"></textarea>
								<button style="width: 9%; height: 30px">등록</button>
							</div>
						</div>
					</footer>
					<!--
					// TODO
					// 데이터 넘어오면 아래 내용으로 대체
					<header class="detail_context">
						// TODO
						// 이게 추천코드글이라면 star가 나와야하지만 아니라면 star가 나와서는 안된다.
						// 반대로 댓글에 있는 star기능은 반드시 코드리뷰글일 때만 나오게 해야한다.
						// 글을 저장할 때 코드리뷰글인지 아니면 추천코드글인지를 구분해주는 컬럼이 하나 있어야겠다.
						<span th:text="${title}"></span>
						<img th:if="${isStar} == 'N'" alt="스타" th:src="@{/img/빈별.png}" th:onclick="starChange(${item.isStar})"  style="width: 20px;">
						<img th:if="${isStar} == 'Y'" alt="스타" th:src="@{/img/꽉찬별.png}" th:onclick="starChange(${item.isStar})"  style="width: 20px;">
					</header>
					// TODO 
					// 아래 textLineList가 출력될 때 댓글이 있는 textLine과 그렇지 않은 라인을 구분해서 출력해줘야한다.
					<div class="textAreaEdit" style="margin-top: 20px">
						<article class="textLines" th:each="item : ${textLineList}">
							<p class="commentYN commentY" th:if="${item.commentYN} == 'Y'" th:onclick="commentView(event, ${item.no})" th:text="${item.text}"></p>
							<p class="commentYN commentN" th:if="${item.commentYN} == 'N'" th:text="${item.text}"></p>
							<div class="commentManage" th:id="${item.no}" display: none; padding-left: 15px;">
								// TODO
								// 해당 textLine에 해당하는 Comment가 있다면 붙여주기
								<div class="codeReviewTextLineComments">
									// TODO
									// 이 위치에 div태그가 들어올 예정(댓글)
								</div>
								<div class="commentManageFixedAe">
									<p class="codeReviewTextLinePTag">Comments</p>
									<div class="codeReviewTextLine" style="margin-top: 10px">
										<textarea class="codeReviewTextLine textareaTag" rows="" cols=""></textarea>
										<button class="codeReviewTextLine buttonTag" style="width: 9%; height: 30px">등록</button>
									</div>
								</div>
							</div>
						</article> 
					</div>
					<footer class="reviewDetailFooter" style="margin-top: 20px">
						<div class="codeReviewComments">
							// TODO
							// 이 글에 대한 Comment가 있다면 붙여주기
							// 이 위치에 div태그가 들어올 예정
							//댓글
						</div>
						<div class="commentMainManage">
							<p class="codeReviewTextLinePTag">Comments</p>
							<div style="margin-top: 10px">
								<textarea class="textareaTag" rows="" cols="" style="width: 90%;" placeholder="Add an optional extended description…"></textarea>
								<button style="width: 9%; height: 30px">등록</button>
							</div>
						</div>
					</footer>
			  	-->
				</div>
			</div>
		</section>
	</section>
</body>
<script type="text/javascript">
	function starChange(isStar) {
		if (isStar == 'Y') {
			// TODO
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 N으로 바꾸고
			// star 글 목록에서 해당 글의 star수를 -1 시키기 
		} else {
			// TODO
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 Y로 바꾸고
			// star 글 목록에서 해당 글의 star수를 +1 시키기 
		}
	}
	function commentView(event, id) {
		console.log(id);
		if (document.getElementById(id).style.display == "none") {
			for ( var i in document.getElementsByClassName("commentManage")) {
				if (i == "length") {
					break;
				}
				document.getElementsByClassName("commentManage")[i].style['display'] = "none"
			}
			document.getElementById(id).style.display = "block";
		} else if (document.getElementById(id).style.display == "block") {
			document.getElementById(id).style.display = "none";
		}
	}
	document.getElementsByTagName('body')[0].addEventListener(
		'click',
		function(event) {
			if (event.target.className.indexOf('commentManage')
					|| event.target.className
							.indexOf("codeReviewTextLineComments") != -1
					|| event.target.className
							.indexOf("codeReviewTextLine") != -1) {
				return

			} else if (event.target.className == 'commentYN') {
				return

			} else {
				for ( var i in document
						.getElementsByClassName("commentManage")) {
					if (i == "length") {
						break;
					}
					document
							.getElementsByClassName("commentManage")[i].style['display'] = "none"
				}
			}

		});
</script>
<th:block layout:fragment="script">
	<script type="text/javascript">
		// TODO
		// 현재 출력되는 형태는 DB에 저장된 그대로가 출력되고 있는데 DB에 저장할 때 
		// 아예 `안쪽의 데이터를 제외한 나머지 영역에 대한 내용은 그냥 HTML테그를 제거하고 저장하고 
		// `로 감싸진 부분에 있는데이터만 따로 HTML태그를 남겨서 저장하기
		function escapeHTML(text) {
			let map = {
				'&amp;': '&',
				'&lt;': '<',
				'&gt;': '>',
				'&quot;': '"',
				"&#039;": "'"
			};
			for (item in map){
				text = text.replaceAll(item, map[item]);
			}
			return text;
		}
		function charSelect(){
			let result = "[[ ${codeReviewDetail} ]]"
			let CR_CONTENTS = result.split("CR_CONTENTS=")[1].split(",")[0];
	        let contents = escapeHTML(CR_CONTENTS);
	        if(contents.indexOf("<br>") > 0){
	        	let returnData = contents.split("<br>")
	        	return returnData
	        }
        	return contents
		}
		window.onload = function(){
			let result = charSelect();
		}
    </script>
</th:block>
</html>