<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<div th:replace="/fragments/meta.html :: fragment-meta"></div>
</head>

<body>
	<section id="wrap">
		<div th:replace="/fragments/header.html :: fragment-header"></div>
		<section id="content_wrap">
			<div th:replace="/fragments/side.html :: fragment-side"></div>
			<div class="content">
				<!-- TODO 값을 전달 받으면 아래 div는 삭제하고 주석 해제 -->
				<div class="review_item" style="background-color: white; padding-top: 5px; padding-left: 10px; padding-right: 10px;">
					<span th:text="타이틀" style="margin: auto 0px;"></span> 
					<img alt="스타" th:src="@{/img/빈별.png}" th:onclick="starChange(${item.isStar})" style="width: 20px;">
				</div>
				<!-- <th:block th:each="item : ${codeReviewList}"> 
					<div class="review_item" th:if="${item.CR_ISVIEW}=='Y'">
						<div class="review_item" style="background-color: white; padding-top: 5px; padding-left: 10px; padding-right: 10px;">
							<span th:text="${item.CR_TITLE}" style="margin: auto 0px;"></span>
							<img th:if="${item.isStar} == 'Y'" alt="스타" th:src="@{/img/꽉찬별.png}" th:onclick="starChange(${item.isStar})"> 클릭 하면 빈별로 바꿔주기
							<img th:if="${item.isStar} == 'N'" alt="스타" th:src="@{/img/빈별.png}" th:onclick="starChange(${item.isStar})"> 클릭 하면 꽉찬별로 바꿔주기
							<span th:text="${item.CR_UPDATEDAY}"></span>
						</div>
						<div class="review_item_contents" style='border'>
							<div>
								<span>댓글 개수</span>
								<span>해결 여부</span>
							</div>
							<p>댓글 1</p>
							<p>댓글 2</p>
							<p>댓글 3</p>
						</div>
					</div>
				</th:block>-->
			</div>
		</section>
	</section>
</body>
<script type="text/javascript">
	function starChange(isStar) {
		if (isStar == 'Y') {
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 N으로 바꾸고
			// star 글 목록에서 해당 글의 star수를 -1 시키기 
		} else {
			// ajax통신을 통해 내가 누른 star목록에서 해당 글의 isStar를 Y로 바꾸고
			// star 글 목록에서 해당 글의 star수를 +1 시키기 
		}
	}
</script>

</html>
